.feed-item-thumbnail-with-topic-picture,
.feed-item-thumbnail-without-topic-picture {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 356px;
    overflow: hidden;
    margin: 0px 12px 12px 0px;
    border: 1px solid rgb(220, 227, 236);
    cursor: pointer;

    .feed-item-summary {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        margin: 10px;
    }

    .time-and-toolbar {
        display: flex;
        font-size: 13px;
        line-height: 18px;
        color: gray;
        margin: 10px;

        .time {
            flex: 1
        }

        .toolbar {
            display: flex;

            .btn {
                margin-left: 8px;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: #9f9f9f;

                    &:hover {
                        fill: black;
                    }
                }
            }

            .stared {
                svg {
                    fill: black !important;
                }
            }
        }
    }

    &.readed {
        color: #9f9f9f !important;

        .title, .summary, .time-and-channel {
            color: #9f9f9f !important
        }

        .title {
            font-weight: normal !important;
        }
    }
}

.feed-item-thumbnail-with-topic-picture {
    img {
        width: 300px;
        height: 230px;
    }

    .title {
        flex: 1;
        overflow: hidden;
    }
}

.feed-item-thumbnail-without-topic-picture {
    .summary {
        flex: 1;
        margin: 10px;
        color: rgb(26, 36, 51);
        font-size: 14px;
        line-height: 21px;
        overflow: hidden;
    }
}
