.feeds-explorer {
    display: flex;

    > .nav {
        overflow: auto;

        .nav-item {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            width: 70px;
            height: 70px;
            justify-content: center;
            align-items: center;
            color: #909090;

            .icon {
                svg {
                    width: 32px;
                    height: 32px;
                    fill: #909090;
                }
            }

            &:hover {
                color: #000;
                cursor: pointer;

                svg {
                    fill: #000;
                }
            }
        }

        .nav-item.active {
            color: #000;

            svg {
                fill: #000;
            }
        }
    }

    > .content {
        flex: 1;
        overflow: auto;

        .feed-list-in-category {
            padding: 20px 10px 20px 0px;
            display: flex;
            flex-direction: column;

            .category {
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 20px;
                margin-left: 10px;
            }

            .feed-list {
                display: flex;
                flex-wrap: wrap;

                .feed-item {
                    display: flex;
                    flex-direction: column;
                    width: 280px;
                    height: 256px;
                    overflow: hidden;
                    margin-left: 10px;
                    margin-bottom: 40px;

                    .topic {
                        img, .summary {
                            width: 280px;
                            height: 150px;
                        }

                        .summary {
                            font-size: 14px;
                            overflow: hidden;
                            line-height: 18px;
                            padding: 2px;
                        }
                    }

                    .icon-and-title {
                        display: flex;
                        padding-top: 10px;
                        overflow: hidden;
                        flex: 1;

                        .icon {
                            img {
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                            }
                        }

                        .title {
                            line-height: 22px;
                            flex: 1;
                            overflow: hidden;
                            margin-left: 12px;
                            min-height: 0px;
                            font-weight: 700;
                        }
                    }

                    .info-and-toolbar {
                        display: flex;
                        align-items: center;
                        margin-top: 4px;
                        height: 20px;

                        .small-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                            color: #c00;
                            border: 1px solid #c00;
                            cursor: pointer;
                            padding: 2px 4px;

                            &.disabled {
                                color: #9f9f9f;
                                border-color: #9f9f9f;
                                cursor: default;
                            }
                        }

                        .info {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            color: #606060;
                            font-size: 12px;
                            font-weight: 400;
                            flex: 1px;
                            padding: 0px 4px;
                            overflow: hidden;

                            span {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        .toolbar {
                            .btn {
                                cursor: pointer;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }

                    .more {
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
