@inject NavigationManager Navigation

<MainLayout>
    <div class="unauthorized-user-page">
        <FeedsExplorer OnSubscribe="Subscribe"/>
    </div>
</MainLayout>

@code
{
    private void Subscribe(Feed feed)
    {
        var redirectUri = $"/?action=subscribe&feed-original-uri={(string.IsNullOrWhiteSpace(feed.OriginalUri) ? feed.Uri : feed.OriginalUri)}";
        Navigation.NavigateTo($"login?redirect_uri={HttpUtility.UrlEncode(redirectUri)}");
    }
}
