@inject NavigationManager Navigation

<MainLayout>
    <Header>
        <PageHeader Feed="@Feed"/>
    </Header>
    <ChildContent>
        <div class="unauthorized-user-page">
            <FeedsExplorer Feed="@Feed" OnSubscribe="Subscribe" OnShowCategory="ShowCategory"/>
        </div>
    </ChildContent>
</MainLayout>

@code
{
    private Feed Feed { get; set; }

    protected override void OnInitialized()
    {
        var queryStart = Navigation.Uri.IndexOf('?');
        if (queryStart > 0)
        {
            var queries = HttpUtility.ParseQueryString(Navigation.Uri.Substring(queryStart + 1));
            var feed = queries?["feed"];
            if (!string.IsNullOrWhiteSpace(feed))
            {
                Feed = new Feed()
                {
                    Uri = feed.Trim().ToLower()
                };
            }
        }
    }

    private void Subscribe(string feedUri)
    {
        var redirectUri = $"/?action=subscribe&feed-original-uri={feedUri}";
        Navigation.NavigateTo($"login?redirect_uri={HttpUtility.UrlEncode(redirectUri)}");
    }

    private void ShowCategory(FeedCategory category)
    {
        Navigation.NavigateTo("/");
        Feed = null;
    }
}
