@inject NavigationManager Navigation

<MainLayout>
    <div class="unauthorized-user-page">
        <FeedsExplorer OnSubscribe="Subscribe"/>
    </div>
</MainLayout>

@code
{
    private void Subscribe(string feedUri)
    {
        var redirectUri = $"/?action=subscribe&feed-original-uri={feedUri}";
        Navigation.NavigateTo($"login?redirect_uri={HttpUtility.UrlEncode(redirectUri)}");
    }
}
