.page-header {
    display: flex;
    height: 60px;
    padding: 10px;
    background-color: #232f3e;
    color: white;

    > .title {
        display: flex;
        align-items: center;
        flex: 1;

        a {
            font-size: 20px;
        }
    }
}
