<div class="page-footer">
    <div class="copyright">FeedReader.org &copy; 2020</div>
    <div class="socials">
        <a href="https://www.github.com/feedreaderorg/feedreader" title="github"><img src="/img/GitHub-Mark-Light-32px.png"/></a>
    </div>
</div>
