<div class="show-feed">
    <div class="feed-description">
        <a class="name" href="@Feed.Uri" target="_blank">@Feed.Name</a>
        <div class="toolbar">
            <div class="icon" title="unsubscribe" @onclick="Unsubscribe">
                <!-- comes from open-iconic: trash -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                    <path d="M3 0c-.55 0-1 .45-1 1h-1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1h-1c0-.55-.45-1-1-1h-1zm-2 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-4.81h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="feed-items">
        @if (!string.IsNullOrWhiteSpace(Feed.Error))
        {
            <div class="error">Error: @Feed.Error</div>
        }
        else if (Feed.Items.Count == 0)
        {
            <WaitingPage Text="Loading..."/>
        }
        else
        {
            foreach (var item in Feed.Items)
            {
                <FeedItemThumbnail FeedItem=@item></FeedItemThumbnail>
            }
        }
    </div>
</div>

@code
{
    [Parameter]
    public Feed Feed { get; set; }

    [Parameter]
    public EventCallback<Feed> OnUnsubscribe { get; set; }

    private Task Unsubscribe()
    {
        return OnUnsubscribe.InvokeAsync(Feed);
    }
}
