@import "Components/IndexPageForAuthorizedUser.scss";
@import "Components/PageFooter.scss";
@import "Components/PageHeader.scss";
@import "Components/WaitingPage.scss";
@import "Layouts/MainLayout.scss";
@import "Pages/LoginPage.scss";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%
}

body {
    background-color: #edf2f9;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
}
