.page-header {
  display: flex;
  height: 70px;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #efefef;
}
.page-header ::deep .icon {
  width: 40px;
}
.page-header ::deep .icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page-header > .title {
  display: flex;
  align-items: center;
  width: 220px;
}
.page-header > .title a {
  font-size: 20px;
}

.feed-description {
    display: flex;
}

.page-header > .feed-description > div {
  height: 40px;
}
.page-header > .feed-description > .name-and-description {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 12px;
}
.page-header > .feed-description > .name-and-description span {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.page-header > .feed-description > .name-and-description .name {
  display: flex;
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  color: black;
  align-items: center;
}
.page-header > .feed-description > .name-and-description .description {
  display: flex;
  flex: 1;
  align-items: flex-end;
  font-size: 14px;
  color: #9f9f9f;
  margin-top: -6px;
}

.search {
    display: flex;
    flex: 1;
    margin: 0px 20px;
    position: relative;
}

.search input {
    flex: 1;
    height: 100%;
    background-color: #f0f2f5;
    border-radius: 8px;
    border: 0px;
    padding: 5px 20px;
    width: 0px;
}

.search input:focus {
    outline: none;
}

.search .btn {
    position: absolute;
    right: 0;
    padding: 20px;
    display: flex;
    height: 100%;
    align-items: center;
}

.side-bar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 2px;
  margin: 2px 10px 2px 0px;
  cursor: pointer;
}
.side-bar-btn svg {
  width: 100%;
  height: 100%;
}
.side-bar-btn svg * {
  fill: #9f9f9f !important;
  stroke: #9f9f9f !important;
}
.side-bar-btn:hover svg *,
.side-bar-btn.pressed svg * {
  fill: #000 !important;
  stroke: #000 !important;
}
@media (max-width: 600px) {
  .side-bar-btn {
    display: none !important;
  }

  .name-and-description {
      display: none !important;
  }
}
